
main {
    margin: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.calculation {
    border: 1px solid black;
    padding: 20px;

}

.add {
    border: 5px solid palevioletred;
    padding: 30px;
}

.subtract {
    border: 5px solid lightsalmon;
    padding: 30px;
}

.multiply {
    border: 5px solid palegoldenrod;
    padding: 30px;
}

.divide {
    border: 5px solid aquamarine;
    padding: 30px;
}