
main {
    margin: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.calculation {
    border: 10px solid thistle;
    padding: 20px;

}

.add {
    border: 5px solid palevioletred;
    padding: 30px;
}

.subtract {
    border: 5px solid lightsalmon;
    padding: 30px;
}

.multiply {
    border: 5px solid palegoldenrod;
    padding: 30px;
}

.divide {
    border: 5px solid aquamarine;
    padding: 30px;
}

button {
    border-radius: 50%;
}

#add-button:hover {
    color: red;
    background-color: lightpink;
}
#subtract-button:hover { 
    color: orange; 
    background-color: peachpuff;

}

#multiply-button:hover {
    color: rgb(243, 190, 17);
    background-color: rgb(241, 231, 172);
    
}

#divide-button:hover {
color: seagreen;
background-color: rgb(142, 226, 184);
}

#add-input-1 {
    color: tomato;
}

#add-input-2 {
    color: tomato
}

#subtract-input-2 {
    color: orange
}

#subtract-input-1 {
    color: orange
}

#multiply-input-1 {
    color:  yellowgreen;
}

#multiply-input-2 {
    color: yellowgreen;
}

#divide-input-1 {
    color: teal;
}

#divide-input-2 {
    color: teal;
}

#add-answer {
    color: tomato;
}
#subtract-answer {
    color: orange;
}

#multiply-answer {
    color: yellowgreen;
}


#divide-answer {
    color: teal;
}
* {
    font-family: 'Pacifico', cursive;
}

h1 {
    display: flex;
    justify-content: center;
    color: rgb(197, 130, 197);
}